You have to work on the [Dogs adoptions](https://drive.google.com/file/d/1wQsA0oB6wwYlnkvvcyBCmLk7QmgVWNax/view?usp=sharing) dataset. 

It contains three files:
*  `dogs.csv`, shortly *dogs*
*  `dogTravel.csv`, shortly *travels*
*  `NST-EST2021-POP.csv`

### Notes

1.    It is mandatory to use GitHub for developing the project.
1.    The project must be a jupyter notebook.
1.    There is no restriction on the libraries that can be used, nor on the Python version.
1.    All questions on the project **must** be asked in a public channel on [Zulip](https://focs.zulipchat.com).
1.    At most 3 students can be in each group. You must create the groups by yourself.
1.    You do not have to send me the project *before* the discussion.

In [93]:
import pandas as pd

dogs_df = pd.read_csv("adoptions/dogs.csv", sep = ",")
dogTravel_df = pd.read_csv("adoptions/dogTravel.csv", sep = ",")
NST_df = pd.read_csv("adoptions/NST-EST2021-POP.csv", sep = ",")

In [37]:
dogs_df

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
0,46042150,NV163,https://www.petfinder.com/dog/harley-46042150/...,Dog,Dog,American Staffordshire Terrier,Mixed Breed,True,False,White / Cream,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,Harley is not sure how he wound up at shelter ...,70,124.81
1,46042002,NV163,https://www.petfinder.com/dog/biggie-46042002/...,Dog,Dog,Pit Bull Terrier,Mixed Breed,True,False,Brown / Chocolate,...,Las Vegas,NV,89147,US,89009,2019-09-20,Dog,6 year old Biggie has lost his home and really...,49,122.07
2,46040898,NV99,https://www.petfinder.com/dog/ziggy-46040898/n...,Dog,Dog,Shepherd,NaN,False,False,Brindle,...,Mesquite,NV,89027,US,89009,2019-09-20,Dog,Approx 2 years old.\r\n Did I catch your eye? ...,87,281.51
3,46039877,NV202,https://www.petfinder.com/dog/gypsy-46039877/n...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Pahrump,NV,89048,US,89009,2019-09-20,Dog,NaN,62,145.83
4,46039306,NV184,https://www.petfinder.com/dog/theo-46039306/nv...,Dog,Dog,Dachshund,NaN,False,False,NaN,...,Henderson,NV,89052,US,89009,2019-09-20,Dog,Theo is a friendly dachshund mix who gets alon...,93,241.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58175,44605893,WY20,https://www.petfinder.com/dog/tren-44605893/wy...,Dog,Dog,Border Collie,NaN,False,False,"Tricolor (Brown, Black, & White)",...,Lander,WY,82520,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w...",100,324.34
58176,44457061,WY24,https://www.petfinder.com/dog/harley-44457061/...,Dog,Dog,Australian Shepherd,Australian Cattle Dog / Blue Heeler,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,65,245.90
58177,42865848,WY20,https://www.petfinder.com/dog/echo-42865848/wy...,Dog,Dog,Border Collie,NaN,False,False,NaN,...,Glenrock,WY,82637,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w...",100,184.06
58178,42734734,WY24,https://www.petfinder.com/dog/simon-42734734/w...,Dog,Dog,Boxer,Mixed Breed,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,58,61.05
58179,42663515,WY24,https://www.petfinder.com/dog/romeo-42663515/w...,Dog,Dog,Labrador Retriever,Pit Bull Terrier,True,False,NaN,...,Riverton,WY,82501,US,WY,2019-09-20,Dog,NaN,100,255.38

In [38]:
NST_df = NST_df.T.reset_index().T.reset_index(drop=True)
NST_df.columns = ['state', 'population']

### 1. Extract all dogs with status that is not *adoptable*

In [39]:
dog_not_adop = dogs_df[dogs_df["status"] != "adoptable"]

#metodo 2
# dog_not_adop = dogs_df[~dogs_df["status"].isin(adoptable)]

In [40]:
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [41]:
dog_not_adop

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,AZ,85249,US,AZ,2019-09-20,NaN,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,NY,12220,US,CT,2019-09-20,NaN,Dog,"â¢Basset Hound, female, â¢10 years \r\n\r\nD...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,NY,12477,US,CT,2019-09-20,NaN,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,VA,20136,US,DC,2019-09-20,NaN,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,MD,20905,US,DC,2019-09-20,NaN,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,PA,17325,US,DC,2019-09-20,NaN,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,PA,17325,US,DC,2019-09-20,NaN,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,PA,19063,US,DE,2019-09-20,NaN,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,PA,19053,US,DE,2019-09-20,NaN,Dog,01.04.19\r\nHi Folks! Iâm Cozi and Iâm so ...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,IL,61944,US,IL,2019-09-20,NaN,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,IN,46158,US,IN,2019-09-20,NaN,Dog,11 Berry Pups\r\nIndividual pics will be done....,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,OH,45061,US,IN,2019-09-20,NaN,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,OH,45061,US,IN,2019-09-20,NaN,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,IN,47131,US,KY,2019-09-20,NaN,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,OH,45249,US,KY,2019-09-20,NaN,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,IN,47454,US,KY,2019-09-20,NaN,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,LA,70601,US,LA,2019-09-20,NaN,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,NM,87108,US,NM,2019-09-20,NaN,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,TN,38506,US,TN,2019-09-20,NaN,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,TN,37189,US,TN,2019-09-20,NaN,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,VA,24588,US,VA,2019-09-20,NaN,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,VA,23112,US,VA,2019-09-20,NaN,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,WA,98106,US,WA,2019-09-20,NaN,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

In [42]:
temp = dog_not_adop["status"]
dog_not_adop["accessed"] = dog_not_adop["stateQ"]
dog_not_adop["stateQ"] = dog_not_adop["contact_country"]
dog_not_adop["contact_country"] = dog_not_adop["contact_zip"]
dog_not_adop["contact_zip"] = dog_not_adop["contact_state"]
dog_not_adop["contact_state"] = dog_not_adop["contact_city"]
dog_not_adop["contact_city"] = dog_not_adop["posted"]
dog_not_adop["posted"] = dog_not_adop["status"]
dog_not_adop = dog_not_adop.assign(status='unknown')

C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["accessed"] = dog_not_adop["stateQ"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["stateQ"] = dog_not_adop["contact_country"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["contact_country"] = dog_not_adop["contact_zip"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["contact_zip"] = dog_not_adop["contact_state"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["contact_state"] = dog_not_adop["contact_city"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["contact_city"] = dog_not_adop["posted"]
C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3625405562.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dog_not_adop["posted"] = dog_not_adop["status"]

In [43]:
dog_not_adop

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"â¢Basset Hound, female, â¢10 years \r\n\r\nD...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,Bristow,VA,20136,US,DC,2019-09-20,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,Silver Spring,MD,20905,US,DC,2019-09-20,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,Media,PA,19063,US,DE,2019-09-20,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,Feasterville,PA,19053,US,DE,2019-09-20,Dog,01.04.19\r\nHi Folks! Iâm Cozi and Iâm so ...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,Paris,IL,61944,US,IL,2019-09-20,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,Mooresville,IN,46158,US,IN,2019-09-20,Dog,11 Berry Pups\r\nIndividual pics will be done....,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,Ross,OH,45061,US,IN,2019-09-20,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,Ross,OH,45061,US,IN,2019-09-20,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,Jeffersonville,IN,47131,US,KY,2019-09-20,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,Cincinnati,OH,45249,US,KY,2019-09-20,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,Paoli,IN,47454,US,KY,2019-09-20,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,lake charles,LA,70601,US,LA,2019-09-20,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,Albuquerque,NM,87108,US,NM,2019-09-20,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,Cookeville,TN,38506,US,TN,2019-09-20,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,Nashville,TN,37189,US,TN,2019-09-20,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,Rustburg,VA,24588,US,VA,2019-09-20,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,Midlothian,VA,23112,US,VA,2019-09-20,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

In [44]:
dogs_df[dogs_df['id'] == 41330726] #uno dei not adopted prima di effetturare le modifiche che rendono accessed una colonna non più vuota

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,NV,89146,US,89009,2019-09-20,NaN,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88

In [45]:
import re

for index, row in dog_not_adop.iterrows():
    m = re.search(r'([a-z])\w*', row['name'], re.MULTILINE | re.IGNORECASE)
    dog_not_adop.at[index,'name']= m.group(0)

dog_not_adop

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108,256.88
5549,38169117,AZ414,https://www.petfinder.com/dog/annabelle-annie-...,Dog,Dog,Boxer,Pit Bull Terrier,True,False,Black,...,Chandler,AZ,85249,US,AZ,2019-09-20,Dog,You can fill out an adoption application onlin...,80,130.77
10888,45833989,NY98,https://www.petfinder.com/dog/pepper-courtesy-...,Dog,Dog,Beagle,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,This is Pepper. He is a 15 year old tri-color ...,86,180.70
11983,45515547,NY98,https://www.petfinder.com/dog/cooper-courtesy-...,Dog,Dog,Mixed Breed,NaN,False,False,NaN,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"Cooper is 13 years old, but according to a ver...",105,400.82
12495,45294115,NY98,https://www.petfinder.com/dog/daisy-courtesy-l...,Dog,Dog,Basset Hound,NaN,False,False,Brown / Chocolate,...,Albany,NY,12220,US,CT,2019-09-20,Dog,"â¢Basset Hound, female, â¢10 years \r\n\r\nD...",57,82.61
12600,45229004,NY1436,https://www.petfinder.com/dog/elmo-momo-452290...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello i'm MoMo or Elmo , 7 year old, mixed bre...",73,136.30
12613,45227052,NY1436,https://www.petfinder.com/dog/bianca-pinky-452...,Dog,Dog,Mixed Breed,NaN,False,False,White / Cream,...,Saugerties,NY,12477,US,CT,2019-09-20,Dog,"Hello I'm Bianca, a female, 7 year old mixed b...",107,231.31
17619,45569380,CA1209,https://www.petfinder.com/dog/baby-girl-455693...,Dog,Dog,Maltese,NaN,False,False,White / Cream,...,Bristow,VA,20136,US,DC,2019-09-20,Dog,This 10-year young senior is very sweet and lo...,76,263.63
18611,44694387,MD295,https://www.petfinder.com/dog/king-bert-bertie...,Dog,Dog,Fox Terrier,Chihuahua,True,False,Bicolor,...,Silver Spring,MD,20905,US,DC,2019-09-20,Dog,"\""Bertie\"" came to us from the shelter. He wa...",61,158.84
19747,36978896,VA127,https://www.petfinder.com/dog/maddie-cutie-pat...,Dog,Dog,Alaskan Malamute,NaN,False,False,Bicolor,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,Maddie is our little Miss Cutie Patootie! She ...,119,431.66
19845,33218331,VA127,https://www.petfinder.com/dog/bucky-are-u-my-h...,Dog,Dog,Alaskan Malamute,Siberian Husky,True,False,Gray / Blue / Silver,...,Gettysburg,PA,17325,US,DC,2019-09-20,Dog,"Born in August 2014, Bucky has a great sense o...",98,346.67
22161,42092005,PA738,https://www.petfinder.com/dog/chloe-little-ras...,Dog,Dog,Pit Bull Terrier,Pointer,True,False,Black,...,Media,PA,19063,US,DE,2019-09-20,Dog,"Meet Chloe our \""Little Rascal.\",113,279.59
22229,39594038,PA562,https://www.petfinder.com/dog/cozi-h-wilson-lo...,Dog,Dog,Pit Bull Terrier,NaN,True,False,NaN,...,Feasterville,PA,19053,US,DE,2019-09-20,Dog,01.04.19\r\nHi Folks! Iâm Cozi and Iâm so ...,88,360.84
29283,45895274,IL688,https://www.petfinder.com/dog/gibson-edgar-gib...,Dog,Dog,Labrador Retriever,NaN,True,False,Brown / Chocolate,...,Paris,IL,61944,US,IL,2019-09-20,Dog,Gibson Edgar is a 12 month old male Lab mix th...,74,121.56
30471,45964719,IN694,https://www.petfinder.com/dog/puppies-berries-...,Dog,Dog,American Staffordshire Terrier,Border Collie,True,False,Black,...,Mooresville,IN,46158,US,IN,2019-09-20,Dog,11 Berry Pups\r\nIndividual pics will be done....,127,429.87
31581,44538917,OH907,https://www.petfinder.com/dog/leila-courtesy-p...,Dog,Dog,Australian Shepherd,Husky,True,False,"Tricolor (Brown, Black, & White)",...,Ross,OH,45061,US,IN,2019-09-20,Dog,THIS IS A COURTESY POST (this means that any a...,92,188.49
31888,41430442,OH907,https://www.petfinder.com/dog/eden-in-training...,Dog,Dog,Hound,NaN,True,False,White / Cream,...,Ross,OH,45061,US,IN,2019-09-20,Dog,Eden is estimated 3 years old and weighs 40 lb...,97,238.60
33000,45907639,IN714,https://www.petfinder.com/dog/coach-chris-mack...,Dog,Dog,Chihuahua,Beagle,True,False,Yellow / Tan / Blond / Fawn,...,Jeffersonville,IN,47131,US,KY,2019-09-20,Dog,"Mack is a 2 year old, 13 pound furry chihuahua...",101,478.36
33527,45362806,OH852,https://www.petfinder.com/dog/liberty-libby-45...,Dog,Dog,Pomeranian,NaN,False,False,NaN,...,Cincinnati,OH,45249,US,KY,2019-09-20,Dog,Liberty came to us on the 3rd of July - she ha...,65,185.05
34188,32590894,IN595,https://www.petfinder.com/dog/samson-sam-32590...,Dog,Dog,Mastiff,Labrador Retriever,True,False,Black,...,Paoli,IN,47454,US,KY,2019-09-20,Dog,DUE TO PROBLEMS WITH THE CURRENT PETFINDER UPD...,116,413.96
35065,31426754,LA256,https://www.petfinder.com/dog/sully-sullivan-3...,Dog,Dog,Pit Bull Terrier,NaN,False,False,Black,...,lake charles,LA,70601,US,LA,2019-09-20,Dog,Hi my name is Sully! I get along with most dog...,122,204.63
44830,46037827,NM133,https://www.petfinder.com/dog/periwinkle-wink-...,Dog,Dog,Australian Shepherd,Spaniel,True,False,Brown / Chocolate,...,Albuquerque,NM,87108,US,NM,2019-09-20,Dog,We take the time to post pertinent information...,85,296.75
53168,44044071,TN669,https://www.petfinder.com/dog/raymond-reddingt...,Dog,Dog,American Staffordshire Terrier,NaN,True,False,Red / Chestnut / Orange,...,Cookeville,TN,38506,US,TN,2019-09-20,Dog,Red is a 4-5 yr old Staffey mix that is a wig...,88,230.12
53539,27521132,TN577,https://www.petfinder.com/dog/norma-rose-rosie...,Dog,Dog,Yellow Labrador Retriever,American Staffordshire Terrier,True,False,Yellow / Tan / Blond / Fawn,...,Nashville,TN,37189,US,TN,2019-09-20,Dog,Robyn's Nest Animal Rescue & SanctuaryNashvill...,93,300.50
55434,38473806,VA486,https://www.petfinder.com/dog/markey-moose-384...,Dog,Dog,Hound,NaN,False,False,White / Cream,...,Rustburg,VA,24588,US,VA,2019-09-20,Dog,"Markey \""Moose\"" first came to us after being ...",78,71.15
55467,34101432,VA628,https://www.petfinder.com/dog/george-boy-georg...,Dog,Dog,Labrador Retriever,NaN,True,False,Yellow / Tan / Blond / Fawn,...,Midlothian,VA,23112,US,VA,2019-09-20,Dog,Contact dojennings@Comcast.net or Debbie Jenni...,115,320.23
55915,45958435,WA581,https://www.petfinder.com/dog/skipper-45958435...,Dog,Dog,Yorkshire Terrier,Terrier,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,For a quicker response please submit a online ...,102,338.18
55975,45927580,WA581,https://www.petfinder.com/dog/bella-45927580/w...,Dog,Dog,Chihuahua,NaN,False,False,White / Cream,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Bella\"" She is a adorable and 7 pounds ...",102,407.51
56013,45916348,WA581,https://www.petfinder.com/dog/cody-45916348/wa...,Dog,Dog,Golden Retriever,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,*Please apply online at www.6dogrees.com to ge...,92,164.55
56248,45733027,WA581,https://www.petfinder.com/dog/gracie-45733027/...,Dog,Dog,Papillon,Cavalier King Charles Spaniel,True,False,Golden,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Gracie\"" a very beautiful 11 pound,fema...",82,168.54
56464,45413997,WA581,https://www.petfinder.com/dog/jameson-45413997...,Dog,Dog,Rat Terrier,Chihuahua,True,False,"Tricolor (Brown, Black, & White)",...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Jameson\"" He is a very handsome 9 pound...",108,297.27
56473,45406516,WA581,https://www.petfinder.com/dog/canelo-45406516/...,Dog,Dog,Chihuahua,Terrier,True,False,Bicolor,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet Canelo a adorable small, tan very sweet...",94,312.10
56541,45264615,WA581,https://www.petfinder.com/dog/noni-45264615/wa...,Dog,Dog,Chihuahua,Terrier,True,False,Black,...,Seattle,WA,98106,US,WA,2019-09-20,Dog,"Meet \""Noni\"" She is a Black and white smooth ...",77,290.16

In [46]:
dogs_df.update(dogs_df[['id']].merge(dog_not_adop.drop_duplicates('id', keep='last'), on='id', how='left')[['org_id', 'url', 'type.x', 'species', 'breed_primary', 'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary', 'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat', 'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current', 'env_children', 'env_dogs', 'env_cats', 'name', 'status', 'posted', 'contact_city', 'contact_state', 'contact_zip', 'contact_country', 'stateQ', 'accessed', 'type.y', 'description', 'stay_duration', 'stay_cost']])

In [47]:
dogs_df[dogs_df['id'] == 41330726] #uno dei not adopted, confrontare con risultato 3 celle sopra

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
644,41330726,NV173,https://www.petfinder.com/dog/gunther-gunny-41...,Dog,Dog,German Shepherd Dog,NaN,False,False,NaN,...,Las Vegas,NV,89146,US,89009,2019-09-20,Dog,Meet handsome 3 year old Gunther. Gunther came...,108.0,256.88

In [48]:
# dogs_df[dogs_df["status"] != "adoptable"]

#metodo 2
#dog_not_adopts = dogs_df[~dogs_df["status"].isin(['adoptable'])]

### 2. For each (primary) breed, determine the number of dogs

In [49]:
#metodo 1
count_prim_breed = dogs_df.groupby(['breed_primary'])['breed_primary'].count()

#metodo 2
count_prim_breed2 = dogs_df['breed_primary'].value_counts() #restituisce gli stessi risultati, ma in ordine decrescente

In [50]:
count_prim_breed

breed_primary
Affenpinscher                         17
Afghan Hound                           4
Airedale Terrier                      19
Akbash                                 3
Akita                                181
                                    ...
Wirehaired Pointing Griffon            1
Wirehaired Terrier                    60
Xoloitzcuintli / Mexican Hairless     11
Yellow Labrador Retriever            158
Yorkshire Terrier                    360
Name: breed_primary, Length: 216, dtype: int64

In [51]:
count_prim_breed2

Pit Bull Terrier                7890
Labrador Retriever              7198
Chihuahua                       3766
Mixed Breed                     3242
Terrier                         2641
                                ...
Wirehaired Pointing Griffon        1
Boykin Spaniel                     1
Old English Sheepdog               1
Belgian Shepherd / Laekenois       1
Tosa Inu                           1
Name: breed_primary, Length: 216, dtype: int64

### 3. For each (primary) breed, determine the ratio between the number of dogs of `Mixed Breed` and those not of Mixed Breed. Hint: look at the `secondary_breed`.

In [52]:
#mixed breed / non mixed breed raggruppati per primary breed

#i mixed breed avranno true a breed mixed (secondary breed può anche essere nulla se non si sa che incrocio sia)
#i non mixed breed avranno valore nullo sulla secondary breed AND false per breed mixed

#da controllare IL PROCEDIMENTO
#metodo 1
ratio = dogs_df[dogs_df["breed_mixed"] == True].groupby(['breed_primary'])['breed_primary'].count() / dogs_df[(dogs_df["breed_mixed"] == False) & (dogs_df["breed_secondary"].isnull())].groupby(['breed_primary'])['breed_primary'].count()

#metodo 2
#con value_counts()
mixed = dogs_df[dogs_df['breed_mixed'] == True]['breed_primary'].value_counts()
not_mixed = dogs_df[(dogs_df['breed_mixed'] == False) & (dogs_df["breed_secondary"].isnull())]['breed_primary'].value_counts()

ratio2 = mixed/not_mixed

In [53]:
ratio

breed_primary
Affenpinscher                        0.416667
Afghan Hound                              NaN
Airedale Terrier                     8.500000
Akbash                               2.000000
Akita                                0.846939
                                       ...
Wirehaired Pointing Griffon               NaN
Wirehaired Terrier                   3.000000
Xoloitzcuintli / Mexican Hairless    0.833333
Yellow Labrador Retriever            3.388889
Yorkshire Terrier                    1.292994
Name: breed_primary, Length: 216, dtype: float64

In [54]:
ratio2

Affenpinscher                        0.416667
Afghan Hound                              NaN
Airedale Terrier                     8.500000
Akbash                               2.000000
Akita                                0.846939
                                       ...
Wirehaired Pointing Griffon               NaN
Wirehaired Terrier                   3.000000
Xoloitzcuintli / Mexican Hairless    0.833333
Yellow Labrador Retriever            3.388889
Yorkshire Terrier                    1.292994
Name: breed_primary, Length: 216, dtype: float64

### 4. For each (primary) breed, determine the earliest and the latest `posted` timestamp.

In [55]:
timestampMax = dogs_df.groupby(['breed_primary'])['posted'].max()
timestampDf = pd.DataFrame({"primary_breed": timestampMax.index, "max_posted": timestampMax.values})
timestampMin = dogs_df.groupby(['breed_primary'])['posted'].min()
timestampDf['min_posted'] = timestampMin.values

timestampDf

,primary_breed,max_posted,min_posted
0,Affenpinscher,2019-09-14T10:10:51+0000,2012-03-08T10:27:33+0000
1,Afghan Hound,2019-07-27T00:38:48+0000,2017-06-29T23:28:51+0000
2,Airedale Terrier,2019-09-19T18:40:39+0000,2014-06-13T12:59:36+0000
3,Akbash,2019-08-23T17:11:04+0000,2019-07-21T00:35:59+0000
4,Akita,2019-09-20T15:19:57+0000,2012-03-03T09:31:08+0000
...,...,...,...
211,Wirehaired Pointing Griffon,2016-06-29T20:03:55+0000,2016-06-29T20:03:55+0000
212,Wirehaired Terrier,2019-09-19T22:52:45+0000,2012-11-27T14:07:54+0000
213,Xoloitzcuintli / Mexican Hairless,2019-09-08T11:15:54+0000,2007-02-01T00:00:00+0000
214,Yellow Labrador Retriever,2019-09-20T06:30:27+0000,2010-05-31T00:00:00+0000
215,Yorkshire Terrier,2019-09-20T16:56:38+0000,2012-02-04T17:14:52+0000

### 5. For each state, compute the sex imbalance, that is the difference between male and female dogs. In which state this imbalance is largest?

In [56]:
imbalance = dogs_df[dogs_df["sex"] == 'Male'].groupby(['contact_state'])['sex'].count() - dogs_df[dogs_df["sex"] == 'Female'].groupby(['contact_state'])['sex'].count()

imbDf = pd.DataFrame({"contact_state": imbalance.index, "imbalance": imbalance.values})
imbMale = dogs_df[dogs_df["sex"] == 'Male'].groupby(['contact_state'])['sex'].count()
imbFemale = dogs_df[dogs_df["sex"] == 'Female'].groupby(['contact_state'])['sex'].count()
imbDf['male'] = imbMale.values
imbDf['female'] = imbFemale.values

imbDf

   contact_state  imbalance  male  female
0             AK          1     8       7
1             AL         -4   712     716
2             AR         -7   344     351
3             AZ        114  1181    1067
4             CA        110   887     777
5             CO        -51   861     912
6             CT         58   740     682
7             DC        -16   160     176
8             DE          0   148     148
9             FL        101  1380    1279
10            GA         25  1752    1727
11            HI         13    41      28
12            IA         81   283     202
13            ID          1    25      24
14            IL        101   608     507
15            IN        178  1029     851
16            KS          0   235     235
17            KY        109   616     507
18            LA         23   467     444
19            MA         28   487     459
20            MD        136   815     679
21            ME        -29   258     287
22            MI         39   356     317
23            MN         34   496     462
24            MO         70   495     425
25            MS        -40   235     275
26            MT          4    11       7
27            NB          0     1       1
28            NC         63  1345    1282
29            ND          8    36      28
30            NE         -2    59      61
31            NH         -9   163     172
32            NJ         56  1539    1483
33            NM         17   327     310
34            NV         54   456     402
35            NY        117  2062    1945
36            OH        205  1439    1234
37            OK          8   822     814
38            OR         25    58      33
39            PA         83  1454    1371
40            QC          0     7       7
41            RI         -5   301     306
42            SC        100   859     759
43            SD         10    17       7
44            TN        119   945     826
45            TX         -8   279     287
46            UT         79   282     203
47            VA        159  1610    1451
48            VT         42   276     234
49            WA         88   686     598
50            WI         12   277     265
51            WV        101   333     232
52            WY         10    31      21

### 6. For each pair (age, size), determine the average duration of the stay and the average cost of stay.

In [57]:
avg_stay = dogs_df.groupby(['age', 'size'])['stay_duration'].mean()
avg_cost = dogs_df.groupby(['age', 'size'])['stay_cost'].mean()

#creation of support dataframes
#in this way I can reset the index and acces to the values of age and size more easily
avg_stay_copy = dogs_df.groupby(['age', 'size'])['stay_duration'].mean()
avg_stay_copy = avg_stay_copy.reset_index()
avg_cost_copy = dogs_df.groupby(['age', 'size'])['stay_cost'].mean()
avg_cost_copy = avg_cost_copy.reset_index()

In [58]:
#creation of the final dataframe
dur_cost_Df = pd.DataFrame({'age': avg_stay_copy['age'], 'size': avg_stay_copy['size'] , "average_stay": avg_stay.values})
dur_cost_Df = dur_cost_Df.set_index(['age', 'size']) #setting age and size columns as a multi-index as it was initially
dur_cost_Df['average_cost'] = avg_cost.values

dur_cost_Df

                    average_stay  average_cost
age    size
Adult  Extra Large     89.015414    232.591561
       Large           89.531943    238.661141
       Medium          89.421036    238.258977
       Small           89.407479    238.974838
Baby   Extra Large     87.032967    237.180879
       Large           89.701564    238.698827
       Medium          89.577668    237.108131
       Small           89.958291    239.083810
Senior Extra Large     88.861111    235.232361
       Large           88.984298    237.507364
       Medium          89.810052    238.514615
       Small           89.073626    238.282286
Young  Extra Large     90.586345    245.835582
       Large           90.104206    238.149506
       Medium          89.515123    239.304603
       Small           89.814275    241.540069

### 7. Find the dogs involved in at least 3 travels. Also list the breed of those dogs.

In [59]:
dogsandtravel = pd.merge(dogs_df['id'], dogTravel_df[['id','index']], how="inner", on =["id", "id"])
groupby = dogsandtravel.groupby(['id'])['index'].nunique()
groupby = groupby[groupby > 2].reset_index()
final_dogsandtravel = pd.merge(dogs_df[['id', 'breed_primary', 'breed_secondary', 'breed_mixed']], groupby, how="inner", on =["id", "id"])
final_dogsandtravel['travels'] = final_dogsandtravel['index']
final_dogsandtravel = final_dogsandtravel.drop(columns='index')

In [60]:
final_dogsandtravel

           id        breed_primary       breed_secondary breed_mixed  travels
0    45642530                Jindo                   NaN       False        4
1    46039420        Border Collie             Retriever        True        4
2    40036107     Pit Bull Terrier                   NaN        True        3
3    45851842   Labrador Retriever                   NaN       False        3
4    45841145          Mixed Breed                   NaN        True        3
..        ...                  ...                   ...         ...      ...
558  41144335            Chihuahua                   NaN       False        3
559  40103682          Rat Terrier  Jack Russell Terrier        True        3
560  38664932     Pit Bull Terrier                   NaN       False        3
561  38495992     Pit Bull Terrier                   NaN       False        3
562  45588395  German Shepherd Dog                   NaN        True        3

[563 rows x 5 columns]

### 8. Fix the `travels` table so that the correct state is computed from  the `manual` and the `found` fields. If `manual` is not missing, then it overrides what is stored in `found`.

In [61]:
dogTravel_df['found_no_replace'] = dogTravel_df['found']
msk = ~(dogTravel_df['manual'].isnull())
dogTravel_df['found'] = dogTravel_df['found'].mask(msk, dogTravel_df['manual'])

In [62]:
dogTravel_df

,index,id,contact_city,contact_state,description,found,manual,remove,still_there,found_no_replace
0,0,44520267,Anoka,MN,Boris is a handsome mini schnauzer who made hi...,Arkansas,NaN,NaN,NaN,Arkansas
1,1,44698509,Groveland,FL,Duke is an almost 2 year old Potcake from Abac...,Bahamas,Bahamas,NaN,NaN,Abacos
2,2,45983838,Adamstown,MD,Zac Woof-ron is a heartthrob movie star lookin...,Maryland,Maryland,NaN,NaN,Adam
3,3,44475904,Saint Cloud,MN,~~Came in to the shelter as a transfer from an...,Adaptil,NaN,True,NaN,Adaptil
4,4,43877389,Pueblo,CO,Palang is such a sweetheart. She loves her peo...,Afghanistan,NaN,NaN,NaN,Afghanistan
...,...,...,...,...,...,...,...,...,...,...
6189,6189,40492179,Fairmont,WV,Please contact Pet (information@pethelpersinc....,WV,NaN,True,NaN,WV
6190,6190,45799729,Eagle Mountain,UT,Shiny is an approximately 4-6-year-old spayed ...,Wyoming,NaN,NaN,NaN,Wyoming
6191,6191,34276515,Newnan,GA,Yanni is a Male Great Pyrenees that we rescue...,Yazmin,NaN,True,NaN,Yazmin
6192,6192,44519341,Dayton,OH,Callie is a 14 year old Chihuahua whose owner ...,Ohio,Ohio,NaN,NaN,Young
6193,6193,36659999,New York,NY,This guy loves to be outside so a person w/ a ...,Zazu,NaN,True,NaN,Zazu

### 9. For each state, compute the ratio between the number of travels and the population.

In [63]:
dogs_dogTravel = pd.merge(dogs_df[['id', 'contact_state']], dogTravel_df[['id', 'index']], how="inner", on =["id", "id"])
count_travels = dogs_dogTravel.groupby(['contact_state'])['index'].nunique()
count_travels = count_travels[count_travels >= 1].reset_index()

count_travels['travels'] = count_travels['index']
count_travels = count_travels.drop(columns='index')

# count_travels

count_travels['travels'].sum() #should be 6194

6194

In [64]:
#adding MANUALLY codes of the states to NST dataframe
#in this way we can perform a join based on contact_state attribute which is present in the count_travels dataframe
#so that we don't need to join the dataframes on the name of the state

NST_df['contact_state'] = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA',
                          'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM',
                          'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA',
                          'WV', 'WI', 'WY']
# NST_df

In [65]:
travel_population = pd.merge(count_travels[['contact_state', 'travels']], NST_df[['population', 'contact_state', 'state']], how="inner", on =["contact_state", "contact_state"])
travel_population

   contact_state  travels  population                 state
0             AL       75   5.024.279               Alabama
1             AR       10   3.011.524              Arkansas
2             AZ       70   7.151.502               Arizona
3             CA       28  39.538.223            California
4             CO      103   5.773.714              Colorado
5             CT       90   3.605.944           Connecticut
6             DC      112     689.545  District of Columbia
7             DE       57     989.948              Delaware
8             FL      133  21.538.187               Florida
9             GA      109  10.711.908               Georgia
10            IA       22   3.190.369                  Iowa
11            IL       37  12.812.508              Illinois
12            IN       65   6.785.528               Indiana
13            KS        3   2.937.880                Kansas
14            KY       31   4.505.836              Kentucky
15            LA        5   4.657.757             Louisiana
16            MA      107   7.029.917         Massachusetts
17            MD      379   6.177.224              Maryland
18            ME      361   1.362.359                 Maine
19            MI       67  10.077.331              Michigan
20            MN      190   5.706.494             Minnesota
21            MO       42   6.154.913              Missouri
22            MS        6   2.961.279           Mississippi
23            NC      187  10.439.388        North Carolina
24            NH       44   1.377.529         New Hampshire
25            NJ      552   9.288.994            New Jersey
26            NM       82   2.117.522            New Mexico
27            NV       20   3.104.614                Nevada
28            NY      490  20.201.249              New York
29            OH      177  11.799.448                  Ohio
30            OK       31   3.959.353              Oklahoma
31            OR       32   4.237.256                Oregon
32            PA      326  13.002.700          Pennsylvania
33            RI      130   1.097.379          Rhode Island
34            SC       21   5.118.425        South Carolina
35            TN      112   6.910.840             Tennessee
36            TX        2  29.145.505                 Texas
37            UT       66   3.271.616                  Utah
38            VA     1025   8.631.393              Virginia
39            VT       49     643.077               Vermont
40            WA      634   7.705.281            Washington
41            WI       83   5.893.718             Wisconsin
42            WV       27   1.793.716         West Virginia

In [66]:
travel_population['population'] = travel_population['population'].str.replace(r"(\d)\.", r"\1")
travel_population['population']

travel_population['trav/pop_perc'] = (travel_population['travels']/travel_population['population'].astype('int'))*100
travel_population

C:\Users\danie\AppData\Local\Temp\ipykernel_16752\3870684466.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  travel_population['population'] = travel_population['population'].str.replace(r"(\d)\.", r"\1")

   contact_state  travels population                 state  trav/pop_perc
0             AL       75    5024279               Alabama       0.001493
1             AR       10    3011524              Arkansas       0.000332
2             AZ       70    7151502               Arizona       0.000979
3             CA       28   39538223            California       0.000071
4             CO      103    5773714              Colorado       0.001784
5             CT       90    3605944           Connecticut       0.002496
6             DC      112     689545  District of Columbia       0.016243
7             DE       57     989948              Delaware       0.005758
8             FL      133   21538187               Florida       0.000618
9             GA      109   10711908               Georgia       0.001018
10            IA       22    3190369                  Iowa       0.000690
11            IL       37   12812508              Illinois       0.000289
12            IN       65    6785528               Indiana       0.000958
13            KS        3    2937880                Kansas       0.000102
14            KY       31    4505836              Kentucky       0.000688
15            LA        5    4657757             Louisiana       0.000107
16            MA      107    7029917         Massachusetts       0.001522
17            MD      379    6177224              Maryland       0.006135
18            ME      361    1362359                 Maine       0.026498
19            MI       67   10077331              Michigan       0.000665
20            MN      190    5706494             Minnesota       0.003330
21            MO       42    6154913              Missouri       0.000682
22            MS        6    2961279           Mississippi       0.000203
23            NC      187   10439388        North Carolina       0.001791
24            NH       44    1377529         New Hampshire       0.003194
25            NJ      552    9288994            New Jersey       0.005943
26            NM       82    2117522            New Mexico       0.003872
27            NV       20    3104614                Nevada       0.000644
28            NY      490   20201249              New York       0.002426
29            OH      177   11799448                  Ohio       0.001500
30            OK       31    3959353              Oklahoma       0.000783
31            OR       32    4237256                Oregon       0.000755
32            PA      326   13002700          Pennsylvania       0.002507
33            RI      130    1097379          Rhode Island       0.011846
34            SC       21    5118425        South Carolina       0.000410
35            TN      112    6910840             Tennessee       0.001621
36            TX        2   29145505                 Texas       0.000007
37            UT       66    3271616                  Utah       0.002017
38            VA     1025    8631393              Virginia       0.011875
39            VT       49     643077               Vermont       0.007620
40            WA      634    7705281            Washington       0.008228
41            WI       83    5893718             Wisconsin       0.001408
42            WV       27    1793716         West Virginia       0.001505

### 10. For each dog, compute the number of days from the `posted` day to the day of last access.

In [67]:
lastaccess = dogs_df.groupby(['id'])['accessed'].max()

dogs_last = pd.merge(dogs_df, lastaccess, how = "inner", on = ["id", "id"])

In [68]:
dogs_last['last_access'] = dogs_last['accessed_y']

dogs_last = dogs_last.drop(columns=['org_id', 'url', 'type.x', 'species', 'breed_primary', 
        'breed_secondary', 'breed_mixed', 'breed_unknown', 'color_primary',
       'color_secondary', 'color_tertiary', 'age', 'sex', 'size', 'coat',
       'fixed', 'house_trained', 'declawed', 'special_needs', 'shots_current',
       'env_children', 'env_dogs', 'env_cats', 'name', 'status',
       'contact_city', 'contact_state', 'contact_zip', 'contact_country',
       'stateQ', 'type.y', 'description', 'stay_duration',
       'stay_cost', 'accessed_x', 'accessed_y'])

In [69]:
dogs_last

             id                    posted last_access
0      46042150  2019-09-20T16:37:59+0000  2019-09-20
1      46042002  2019-09-20T16:24:57+0000  2019-09-20
2      46040898  2019-09-20T14:10:11+0000  2019-09-20
3      46039877  2019-09-20T10:08:22+0000  2019-09-20
4      46039306  2019-09-20T06:48:30+0000  2019-09-20
...         ...                       ...         ...
58175  44605893  2019-05-03T14:23:49+0000  2019-09-20
58176  44457061  2019-04-13T16:20:24+0000  2019-09-20
58177  42865848  2018-09-27T04:18:56+0000  2019-09-20
58178  42734734  2018-09-12T05:03:38+0000  2019-09-20
58179  42663515  2018-09-03T20:42:24+0000  2019-09-20

[58180 rows x 3 columns]

In [70]:
dogs_last['posted'] = pd.to_datetime(dogs_last['posted'])
dogs_last['last_access'] = pd.Series(dogs_last['last_access'], dtype="string")
dogs_last['last_access'] = pd.to_datetime(dogs_last['last_access'])

In [71]:
dogs_last["numdays"] = (dogs_last['posted'].values - dogs_last['last_access'].values)

In [72]:
dogs_last["numdays_hours_minutes"] = dogs_last["numdays"].abs()

In [73]:
dogs_last["numdays"] = dogs_last["numdays"].dt.days.abs()

In [74]:
dogs_last

,id,posted,last_access,numdays,numdays_hours_minutes
0,46042150,2019-09-20 16:37:59+00:00,2019-09-20,0,0 days 16:37:59
1,46042002,2019-09-20 16:24:57+00:00,2019-09-20,0,0 days 16:24:57
2,46040898,2019-09-20 14:10:11+00:00,2019-09-20,0,0 days 14:10:11
3,46039877,2019-09-20 10:08:22+00:00,2019-09-20,0,0 days 10:08:22
4,46039306,2019-09-20 06:48:30+00:00,2019-09-20,0,0 days 06:48:30
...,...,...,...,...,...
58175,44605893,2019-05-03 14:23:49+00:00,2019-09-20,140,139 days 09:36:11
58176,44457061,2019-04-13 16:20:24+00:00,2019-09-20,160,159 days 07:39:36
58177,42865848,2018-09-27 04:18:56+00:00,2019-09-20,358,357 days 19:41:04
58178,42734734,2018-09-12 05:03:38+00:00,2019-09-20,373,372 days 18:56:22
58179,42663515,2018-09-03 20:42:24+00:00,2019-09-20,382,381 days 03:17:36

### 11. Partition the dogs according to the number of weeks from the `posted` day to the day of last access.

In [75]:
dogs_last["numweeks"] = (dogs_last['posted'].values - dogs_last['last_access'].values).astype('timedelta64[W]').astype('int')

In [76]:
dogs_last["numweeks"] = dogs_last["numweeks"].abs()

dogs_last

,id,posted,last_access,numdays,numdays_hours_minutes,numweeks
0,46042150,2019-09-20 16:37:59+00:00,2019-09-20,0,0 days 16:37:59,0
1,46042002,2019-09-20 16:24:57+00:00,2019-09-20,0,0 days 16:24:57,0
2,46040898,2019-09-20 14:10:11+00:00,2019-09-20,0,0 days 14:10:11,0
3,46039877,2019-09-20 10:08:22+00:00,2019-09-20,0,0 days 10:08:22,0
4,46039306,2019-09-20 06:48:30+00:00,2019-09-20,0,0 days 06:48:30,0
...,...,...,...,...,...,...
58175,44605893,2019-05-03 14:23:49+00:00,2019-09-20,140,139 days 09:36:11,20
58176,44457061,2019-04-13 16:20:24+00:00,2019-09-20,160,159 days 07:39:36,23
58177,42865848,2018-09-27 04:18:56+00:00,2019-09-20,358,357 days 19:41:04,52
58178,42734734,2018-09-12 05:03:38+00:00,2019-09-20,373,372 days 18:56:22,54
58179,42663515,2018-09-03 20:42:24+00:00,2019-09-20,382,381 days 03:17:36,55

In [77]:
dogs_partition = dogs_last.groupby(['numweeks', 'id'])
dogs_partition = dogs_partition.apply(pd.DataFrame) 
dogs_partition

,id,posted,last_access,numdays,numdays_hours_minutes,numweeks
0,46042150,2019-09-20 16:37:59+00:00,2019-09-20,0,0 days 16:37:59,0
1,46042002,2019-09-20 16:24:57+00:00,2019-09-20,0,0 days 16:24:57,0
2,46040898,2019-09-20 14:10:11+00:00,2019-09-20,0,0 days 14:10:11,0
3,46039877,2019-09-20 10:08:22+00:00,2019-09-20,0,0 days 10:08:22,0
4,46039306,2019-09-20 06:48:30+00:00,2019-09-20,0,0 days 06:48:30,0
...,...,...,...,...,...,...
58175,44605893,2019-05-03 14:23:49+00:00,2019-09-20,140,139 days 09:36:11,20
58176,44457061,2019-04-13 16:20:24+00:00,2019-09-20,160,159 days 07:39:36,23
58177,42865848,2018-09-27 04:18:56+00:00,2019-09-20,358,357 days 19:41:04,52
58178,42734734,2018-09-12 05:03:38+00:00,2019-09-20,373,372 days 18:56:22,54
58179,42663515,2018-09-03 20:42:24+00:00,2019-09-20,382,381 days 03:17:36,55

### 12. Find for duplicates in the `dogs` dataset. Two records are duplicates if they have 
1. same breeds and sex 
2. they share at least 90% of the words in the description field. 

Extra points if you find and implement a more refined for determining if two rows are duplicates.

#### 1 APPROCCIO

In [78]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\danie\appdata\local\programs\python\python310\lib\site-packages (1.1.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\danie\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.22.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\danie\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\danie\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\danie\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.3; however, version 22.3.1 is available.
You should consider upgrading via the 'c:\Users\danie\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [79]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

In [ ]:
duplicates = dogs_df
duplicates['description'] = duplicates['description'].fillna("")


tfidf = TfidfVectorizer().fit_transform(duplicates['description'])
duplicatesList = [False]*len(dogs_df)

duplicatesSeries = pd.Series(duplicatesList)



from sklearn.metrics.pairwise import cosine_similarity

def similarity(index):
    similarity = cosine_similarity(tfidf[index], tfidf)
    s = similarity[0]
    return np.argwhere(s >= 0.9).flatten().tolist()

def find_duplicates(row):
  index = row.name
  print(index)
  if duplicatesSeries[index]:
    return True
  else:
    found = similarity(index)
    if found != []:
      found.remove(index)
      if found != []:
        for dup in found:
          duplicatesSeries[dup] = duplicates.iloc[[index, dup]].duplicated(subset=["sex", "breed_primary"]).iloc[[1]].values[0]
          if duplicatesSeries[dup]:
            return True
      else:
        return False
    else:
      return False

duplicates['is_duplicate'] = duplicates.apply(find_duplicates, axis=1)

In [82]:
duplicates[duplicates['is_duplicate'] == True]

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost,is_duplicate
103,46005633,NV205,https://www.petfinder.com/dog/lara-46005633/nv...,Dog,Dog,Maltese,Poodle,True,False,NaN,...,NV,89103,US,89009,2019-09-20,Dog,Meet Lara.... Born at Mayteâs Rescue Facilit...,70.0,178.12,True
105,46005531,NV205,https://www.petfinder.com/dog/bambina-46005531...,Dog,Dog,Maltese,Poodle,True,False,NaN,...,NV,89103,US,89009,2019-09-20,Dog,Meet Bambina.... Born at Mayteâs Rescue Faci...,87.0,171.14,True
166,45945119,NV129,https://www.petfinder.com/dog/venus-45945119/n...,Dog,Dog,Jack Russell Terrier,Poodle,True,False,Apricot / Beige,...,NV,89101,US,89009,2019-09-20,Dog,"My name is Venus, a Jack Russell Terrier/Poodl...",93.0,237.68,True
167,45945109,NV129,https://www.petfinder.com/dog/serena-45945109/...,Dog,Dog,Jack Russell Terrier,Poodle,True,False,Apricot / Beige,...,NV,89101,US,89009,2019-09-20,Dog,"My name is Serena, a Jack Russell Terrier/Pood...",63.0,85.94,True
168,45944294,AZ662,https://www.petfinder.com/dog/bear-bear-459442...,Dog,Dog,Labrador Retriever,Shar-Pei,True,False,Black,...,AZ,86401,US,89009,2019-09-20,Dog,Bear Bear and Zeus are a duo who came into the...,106.0,200.50,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58140,45813881,WY01,https://www.petfinder.com/dog/annie-45813881/w...,Dog,Dog,Labrador Retriever,NaN,True,False,NaN,...,WY,82520,US,WY,2019-09-20,Dog,Please stop by any day between Noon and 2pm or...,83.0,259.37,True
58142,45813890,WY01,https://www.petfinder.com/dog/skylar-45813890/...,Dog,Dog,Shepherd,Labrador Retriever,True,False,NaN,...,WY,82520,US,WY,2019-09-20,Dog,Please stop by any day between Noon and 2pm or...,66.0,110.79,True
58147,45813896,WY01,https://www.petfinder.com/dog/ellie-45813896/w...,Dog,Dog,Labrador Retriever,Border Collie,True,False,NaN,...,WY,82520,US,WY,2019-09-20,Dog,Please stop by any day between Noon and 2pm or...,93.0,427.75,True
58149,45813872,WY01,https://www.petfinder.com/dog/phoebe-45813872/...,Dog,Dog,Labrador Retriever,NaN,True,False,NaN,...,WY,82520,US,WY,2019-09-20,Dog,Please stop by any day between Noon and 2pm or...,93.0,132.45,True
58175,44605893,WY20,https://www.petfinder.com/dog/tren-44605893/wy...,Dog,Dog,Border Collie,NaN,False,False,"Tricolor (Brown, Black, & White)",...,WY,82520,US,WY,2019-09-20,Dog,"Due to the small size of our volunteer base, w...",100.0,324.34,True

#### 2 APPROCCIO

In [ ]:
import numpy as np
import collections
from difflib import SequenceMatcher

duplicates_df = dogs_df


# Crea una tabella raggruppata per sesso e razza primaria
grouped_df = dogs_df.dropna(subset=["description"]).groupby(["sex", "breed_primary"])

# Crea una lista vuota per memorizzare gli indici dei record duplicati
duplicates_index = []

# Itera attraverso ogni gruppo di record
for name, group in grouped_df:
    # Crea un hash table con le descrizioni del gruppo
    descriptions = collections.defaultdict(list)
    for i, description in enumerate(group["description"].str.lower()):
        descriptions[description].append(i)
    # Crea un set per tenere traccia dei record già controllati
    checked = set()
    # Itera attraverso ogni riga all'interno del gruppo
    for i in range(len(group)):
        if i in checked:
            continue
        # Prendi la descrizione corrente
        current_description = group.iloc[i]["description"].lower()
        # Se ci sono altre descrizioni uguali, iterane attraverso le descrizioni uguali
        if len(descriptions[current_description]) > 1:
            for j in descriptions[current_description][1:]:
                if j in checked:
                    continue
                # Calcola la somiglianza tra le descrizioni utilizzando SequenceMatcher()
                similarity = SequenceMatcher(None, current_description, group.iloc[j]["description"].lower()).ratio()
                # Se la somiglianza è maggiore o uguale al 90%, considera i record come duplicati e aggiungi gli indici alla lista
                if similarity >= 0.9:
                    duplicates_index.append(group.index[j])
                    print("Row ", group.index[i], " is being checked")
                    print("Row ", group.index[j], " is considered as duplicate")
                    checked.add(j)
    # Cancella le descrizioni dal hash table per liberare la memoria
    descriptions.clear()

# Crea una nuova tabella con i record duplicati
duplicates_df = dogs_df.iloc[duplicates_index]

In [95]:
duplicates_df.drop_duplicates(subset='id', inplace=True)

c:\Users\danie\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [96]:
duplicates_df

,id,org_id,url,type.x,species,breed_primary,breed_secondary,breed_mixed,breed_unknown,color_primary,...,contact_city,contact_state,contact_zip,contact_country,stateQ,accessed,type.y,description,stay_duration,stay_cost
39500,46023963,NC340,https://www.petfinder.com/dog/leah-46023963/nc...,Dog,Dog,Alaskan Malamute,NaN,False,False,NaN,...,Chapel Hill,NC,27516,US,NC,2019-09-20,Dog,My adoption fee has been fully sponsored. Adop...,85,359.37
7792,45639446,CO405,https://www.petfinder.com/dog/lola-jewel-45639...,Dog,Dog,American Bulldog,Pit Bull Terrier,True,False,NaN,...,Westminster,CO,80021,US,CO,2019-09-20,Dog,Lola Jewel is a jewel her foster says! She is ...,81,266.78
8003,45252099,CO132,https://www.petfinder.com/dog/cheyenne-courtes...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Evergreen,CO,80437,US,CO,2019-09-20,Dog,All people inquiring about pets listed as Cour...,93,282.06
8257,44517341,CO132,https://www.petfinder.com/dog/tyla-44517341/co...,Dog,Dog,American Bulldog,NaN,True,False,NaN,...,Evergreen,CO,80437,US,CO,2019-09-20,Dog,Meet Tyla! She is an adorable American Bulldog...,86,310.22
16885,45831359,VA600,https://www.petfinder.com/dog/yoyoma-45831359/...,Dog,Dog,American Bulldog,NaN,False,False,NaN,...,Alexandria,VA,22309,US,DC,2019-09-20,Dog,ADOPT ME ONLINE: https://ophrescue.org/dogs603...,79,189.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56636,44990561,TX2373,https://www.petfinder.com/dog/ranger-44990561/...,Dog,Dog,Wirehaired Terrier,Jack Russell Terrier,True,False,Brown / Chocolate,...,Seattle,WA,98158,US,WA,2019-09-20,Dog,Hi! My name is Ranger! Please read my bio belo...,77,245.37
55237,44267041,MD98,https://www.petfinder.com/dog/duke-number-3-44...,Dog,Dog,Yellow Labrador Retriever,NaN,False,False,Yellow / Tan / Blond / Fawn,...,Yorktown,VA,23690,US,VA,2019-09-20,Dog,Duke is a 4-year-old neutered male fox red lab...,93,120.26
21249,45572522,NJ642,https://www.petfinder.com/dog/tank-45572522/nj...,Dog,Dog,Yorkshire Terrier,NaN,False,False,Gray / Blue / Silver,...,Whiting,NJ,08759,US,DE,2019-09-20,Dog,YOU MUST APPLY ON OUR WEBSITE\r\nhttp://www.yo...,107,77.55
21363,45451610,NJ642,https://www.petfinder.com/dog/dino-45451610/nj...,Dog,Dog,Yorkshire Terrier,NaN,False,False,Gray / Blue / Silver,...,Whiting,NJ,08759,US,DE,2019-09-20,Dog,YOU MUST APPLY ON OUR WEBSITE\r\nhttp://www.yo...,54,100.83
34992,37010444,LA32,https://www.petfinder.com/dog/l-37010444/la/ha...,Dog,Dog,Mixed Breed,NaN,True,False,NaN,...,Hammond,LA,70403,US,LA,2019-09-20,Dog,No Notes,66,141.14